@use "../variables.scss" as var;

.header {
  position: relative;
  height: 100vh;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% 50%;
  background-image: url("./src/images/header-bg.jpg");

  .container {
    border-top: var.$border;

    @media (max-width: var.$breakpoint-large-x) {
      border-top: none;
    }
  }

  @media (min-resolution: 2dppx) and (min-width: var.$breakpoint-large) {
    background-image: url("./src/images/header-bg@2x.jpg");
  }

  @media (max-width: var.$breakpoint-medium) {
    background-image: url("./src/images/header-bg-mob.jpg");
  }
}

.header__hamburger {
  position: absolute;
  top: 5px;
  right: 22px;
}

.header__social-links {
  position: absolute;
  left: 50px;
  top: 22%;
}

.header__nav-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: var.$color-overlay;
  z-index: 10;
  transition: 0.2s;

  &.js-active {
    left: 0;
  }
}

.header__inner {
  max-width: 520px;
  padding-top: 194px;
  margin-right: auto;
  padding-bottom: 362px;
}

.header__text {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.header__title {
  margin-top: 12px;
  font-size: 48px;
  line-height: 1.25;

  @media (max-width: var.$breakpoint-small) {
    font-size: 26px;
    line-height: 1.5;
  }
}

.header__buttons {
  display: flex;
  gap: 20px;
  margin-top: 29px;

  @media (max-width: var.$breakpoint-small) {
    font-size: 32px;
  }
}
